@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* base */

body {
    font-family: 'Nunito', sans-serif;
}


/* Navigation Bar */

.navbar {
    padding: 20px 0px;
    background-color: transparent;
}

.navbar .navbar-brand {
    font-weight: 700;
    color: #ffff;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:active,
.navbar .navbar-brand:focus {
    color: #0d6efd;
}

.navbar .navbar-nav li a {
    font-weight: 500;
    color: #eeeeee !important;
}

.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:active,
.navbar .navbar-nav li a:focus {
    color: #333 !important;
}

.navbar .navbar-nav li a.active {
    color: #333333 !important;
}